doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel='stylesheet', href='css/main.min.css')
    title Web development project
  body
    #toTop
      i.fas.fa-chevron-up
    header.menu-bar
      .container
        .row
          .col-xl-2.logo-bar
            img.logo(src='img/logo.png', alt='My Landing')
            button.menu-icon
              i.fas.fa-bars
          .col-xl-8.ml-auto.align-self-center
            nav
              ul.menu.d-flex.justify-content-end
                li.menu__item
                  a(href='/')
                    i.fas.fa-home
                li.menu__item
                  a(href='#about') About
                li.menu__item
                  a(href='#service') Servicing
                li.menu__item
                  a(href='#portfolio') Portfolio
                li.menu__item
                  a(href='#blog') Blog
                li.menu__item
                  a(href='#contact') Contact us
                li.menu__item
                  i.fas.fa-search
    header.header
      .container
        .row
          .col-xl-12
            h1.header__title Web development project
            p.header__text Very suitable to support all web development projects
            button.button Our services
            button.button Hire is now
    section#about.about
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title About Us
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .row.justify-content-around
          .col-xl-3.col-md-6
            img(src='img/internet.png', alt='')
            h3.about_h3 Awesome Icons
            p.about_text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
              | molestiae et, nisi error!
          .col-xl-3.col-md-6
            img(src='img/transfer.png', alt='')
            h3.about_h3 One Page
            p.about_text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
              | molestiae et, nisi error!
          .col-xl-3.col-md-6
            img(src='img/head.png', alt='')
            h3.about_h3 Fully Responsive
            p.about_text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
              | molestiae et, nisi error!
    section#service.services
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title Our Services
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .row.justify-content-center
          .col-xl-4.col-md-6
            .our_card
              i.fas.fa-search.icon
              h3.about_h3 Research
              p.about_text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
                | molestiae et, nisi error!
              button.button-services Read more
          .col-xl-4.col-md-6
            .our_card
              i.fas.fa-images.icon
              h3.about_h3 Portfolio
              p.about_text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
                | molestiae et, nisi error!
              button.button-services Read more
          .col-xl-4.col-md-6
            .our_card
              i.fas.fa-question.icon
              h3.about_h3 Support
              p.about_text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
                | molestiae et, nisi error!
              button.button-services Read more
          .col-xl-4.col-md-6
            .our_card
              i.fas.fa-book.icon
              h3.about_h3 Documentation
              p.about_text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
                | molestiae et, nisi error!
              button.button-services Read more
          .col-xl-4.col-md-6
            .our_card
              i.fas.fa-code.icon
              h3.about_h3 Development
              p.about_text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
                | molestiae et, nisi error!
              button.button-services Read more
          .col-xl-4.col-md-6
            .our_card
              i.fas.fa-pencil-alt.icon
              h3.about_h3 Design
              p.about_text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi vero
                | molestiae et, nisi error!
              button.button-services Read more
    section#portfolio.portfolio
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title Latest Works
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            button.button(val='on', filter='all') All
            button.button(val='off', filter='wd') Web design
            button.button(val='off', filter='ud') Ui/Ux design
            button.button(val='off', filter='moc') Mockups
        .row.filter.aligh_img
          .col-xl-4.col-md-6(filter='wd')
            img(src='img/item1.png', alt='')
            .text
              h5 Hand Watch
              p Web design
          .col-xl-4.col-md-6(filter='moc')
            img(src='img/item2.png', alt='')
            .text
              h5 One Day Pass
              p Mockups
          .col-xl-4.col-md-6(filter='wd')
            img(src='img/item3.png', alt='')
            .text
              h5 Modal T-shirt
              p Web design
          .col-xl-4.col-md-6(filter='moc')
            img(src='img/item4.png', alt='')
            .text
              h5 Flask
              p Mockups
          .col-xl-4.col-md-6(filter='ud')
            img(src='img/item5.png', alt='')
            .text
              h5 Eplemost
              p Ui/Ux Design
          .col-xl-4.col-md-6(filter='ud')
            img(src='img/item6.png', alt='')
            .text
              h5 The kitchens
              p Ui/Ux Design
      .container
        .row
          .col-xl-12
            button.button(val='on', filter='all') View all
    section.pricing
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title Pricing Plan
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .row.justify-content-around
          .col-xl-4.col-md-6
            .price
              .price__head
                p Free Trail
                sup $
                |  00 
                sub per month
              .price__body
                ul
                  li 30 Free Trail
                  li 5 Free Projects
                  li PHP 5 Enabled
                  li 24/7 Suports
              .price__footer
                button Order Now
          .col-xl-4.col-md-6
            .price
              .price__head
                p Basic
                sup $
                |  50 
                sub per month
              .price__body
                ul
                  li 30 Free Trail
                  li 5 Free Projects
                  li PHP 5 Enabled
                  li 24/7 Suports
              .price__footer
                button Order Now
          .col-xl-4.col-md-6
            .price
              .price__head
                p Ultimates
                sup $
                |  99 
                sub per month
              .price__body
                ul
                  li 30 Free Trail
                  li 5 Free Projects
                  li PHP 5 Enabled
                  li 24/7 Suports
              .price__footer
                button Order Now
    section.team
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title Our Team Member
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .row.multiple-items.justify-content-center
          .col-xl-4
            img(src='img/team1.png', alt='')
            h4 John Doe
            p General Manager
            .icons
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-vk.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-facebook.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-twitter.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-instagram.fa-stack-1x.fa-inverse
          .col-xl-4
            img(src='img/team2.png', alt='')
            h4 Alexa Biru
            p Office Director
            .icons
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-vk.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-facebook.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-twitter.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-instagram.fa-stack-1x.fa-inverse
          .col-xl-4
            img(src='img/team3.png', alt='')
            h4 Ronobir sing
            p Admin
            .icons
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-vk.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-facebook.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-twitter.fa-stack-1x.fa-inverse
              a(href='')
                span.fa-stack.fa-2x
                  i.fas.fa-square.fa-stack-2x
                  i.fab.fa-instagram.fa-stack-1x.fa-inverse
    section#blog.services
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title Blog
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .row.left.justify-content-between
          .blog-item
            img.img-fluid(src='img/blog1.png', alt='')
          .blog-item
            .blog
              a(href='') SEO Quis Vestibulum
              div
                span
                  i.far.fa-calendar-alt
                  |  14.07.2017
                span
                  i.far.fa-file
                  |  Development
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum placeat mollitia, exercitationem
                | commodi perspiciatis asperiores modi consectetur quas sequi tenetur!
        .row.right.justify-content-between
          .blog-item
            img.img-fluid(src='img/blog2.png', alt='')
          .blog-item
            .blog
              a(href='') SEO Quis Vestibulum
              div
                span
                  i.far.fa-calendar-alt
                  |  14.07.2017
                span
                  i.far.fa-file
                  |  Development
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo minima illo architecto ea, debitis,
                | accusantium et obcaecati corrupti neque magnam voluptas nulla quae reprehenderit. Quos porro
                | explicabo illum libero autem!
        .row.left.justify-content-between
          .blog-item
            img.img-fluid(src='img/blog3.png', alt='')
          .blog-item
            .blog
              a(href='') SEO Quis Vestibulum
              div
                span
                  i.far.fa-calendar-alt
                  |  14.07.2017
                span
                  i.far.fa-file
                  |  Development
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo minima illo architecto ea, debitis,
                | accusantium et obcaecati corrupti neque magnam voluptas nulla quae reprehenderit. Quos porro
                | explicabo illum libero autem!
        .row
          .col-xl-12
            button.button_blog More View
    footer#contact.footer
      .container
        .row.justify-content-center
          .col-xl-8
            h2.about__title Contact Us
            p.about__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .row.justify-content-around
          .col-xl-3.col-md-6
            .circle
              i.fas.fa-map-marker-alt
            p
              | Nobinagar savar,
              br
              | Dhaka Bangladesh
          .col-xl-3.col-md-6
            .circle
              i.fas.fa-phone.fa-rotate-90
            p
              | +8801743331996
              br
              | +8801928737807
          .col-xl-3.col-md-6
            .circle
              i.fas.fa-envelope
            p
              | quickmasud@gmail.com
              br
              | quickmasud@yahoo.com
        .row.justify-content-center.form
          .col-xl-5
            input(type='text', placeholder='Your Name')
          .col-xl-5
            input(type='email', placeholder='Your Email')
          .col-xl-10
            textarea(name='', id='', cols='30', rows='10', placeholder='Write Message')
          .col-xl-2.offset-xl-7
            button Send
    footer.rules All rights Reserved © 2019`
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='js/jquery-3.4.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='js/main.js')
