@font-face{
    font-family: 'Open Sans Bold';

src: url('../fonts/OpenSans-Bold.eot');

src: url('../fonts/OpenSans-Bold.eot?iefix') format('eot'),

url('../fonts/OpenSans-Bold.woff') format('woff'),

url('../fonts/OpenSans-Bold.ttf') format('ttf');

font-weight: bold;

font-style: normal;
}
@font-face{
    font-family: 'Open Sans Light';

src: url('../fonts/OpenSans-Light.eot');

src: url('../fonts/OpenSans-Light.eot?iefix') format('eot'),

url('../fonts/OpenSans-Light.woff') format('woff'),

url('../fonts/OpenSans-Light.ttf') format('ttf');

font-weight: 300;

font-style: normal;
}
@font-face{
    font-family: 'Open Sans Regular';

src: url('../fonts/OpenSans-Regular.eot');

src: url('../fonts/OpenSans-Regular.eot?iefix') format('eot'),

url('../fonts/OpenSans-Regular.woff') format('woff'),

url('../fonts/OpenSans-Regular.ttf') format('ttf');

font-weight: normal;

font-style: normal;
}
@font-face{
    font-family: 'Open Sans SemiBold';

src: url('../fonts/OpenSans-SemiBold.eot');

src: url('../fonts/OpenSans-SemiBoldd.eot?iefix') format('eot'),

url('../fonts/OpenSans-SemiBold.woff') format('woff'),

url('../fonts/OpenSans-SemiBold.ttf') format('ttf');

font-weight: 600;

font-style: normal;
}
@font-face{
    font-family: 'Roboto-Bold';

src: url('../fonts/Roboto-Bold.eot');

src: url('../fonts/Roboto-Bold.eot?iefix') format('eot'),

url('../fonts/Roboto-Bold.woff') format('woff'),

url('../fonts/Roboto-Bold.ttf') format('ttf');

font-weight: 600;

font-style: normal;
}
