/* Команда */
.team {
    padding-top: $szb*1.65;
    padding-bottom: $szb*1.25;
    color: $bk;
    background: $wh;
    text-align: center;
    h4 {
        margin-top: $sz*3;
        font-size: $sz*2;
        font-family: 'Open Sans Semibold';
     }
    p {
        font-size: $sz*1.5;
        margin-bottom: $sz*3;
     }

 }

 
 .icons {
    display: flex;
    justify-content: center;
    a{
        i {
            transition: 0.3s;
            &:nth-child(1) {
                color: $hover;
             }
             :nth-child(2) {
                color: $hover;
             }
         }
         &:hover{
            i{
    
            &:nth-child(1) {
            color: $bl;
                }
            &:nth-child(2) {
            color: $wh;
                 }    
            }
        }

    }
 }
 

 
 
 .team {
    img {
        margin: 0 auto;
        max-width: $szb*3.4;
     }
 }
 
 .multiple-items {
    margin-top: $szb*1.25;
 }
 
 .dots-style {
    margin-top: $szb*1.15;
    display: flex;
    justify-content: center;
    button {
        background: $hover;
        border: none;
        border-radius: 50%;
        font-size: 0;
        height: $sz*1.5;
        width: $sz*1.5;
        margin: $sz/2;
     }
     li[class="slick-active"]{
         button {
            background: $bl;
         }

     }
 }
 