$gray: #212121;
$wh: #ffffff;
$bk: #000000;
$hover: #00897b;
$az: #f0f1f1;
$bl: #3949ab;
$lg: #d6b3b3;
$sl: #e4fdf9;
$bkg: #000b0a;
$gd: #f8f8f8;
$dg: #060c0b;
$sr: #868686;
$up: uppercase;

$sz: 10px;
$szb: 100px;
